<article>
        <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <input type="search" placeholder="Search" class="form-control" />
                </div>
            </div>
        </form>
        </div>

        <div class="row">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let song of songs"><a href="#" [routerLink]="['/song',song._id ]">{{ song.name }}     <span class="badge">{{ song.key }}</span></a></li>
                
            </ul>

        </div>
    </article>